body {
  	width: auto;
 	margin-left: auto;
  	margin-right: auto;
}
a {
	color: white;
	text-decoration: none;
}
a:hover {
	color: blue;
	text-decoration: none;
}
.map-container {
	overflow: hidden;
	padding-bottom: 56.25%;
	margin-bottom: 6px;
	position: relative;
	height: 0;
}
.map-container iframe {
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	position: absolute;
}
